.header {
  background-color: rgb(5, 3, 31);
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header_logo {
  width: 100px;
  margin-top: 18px;
  margin-left: 20px;
  margin-right: 20px;
}
.header_search {
  display: flex;
  flex: 1;
}

.header_searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}
.header_searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: rgb(192, 109, 31);
}
.header_nav {
  display: flex;
  justify-content: space-evenly;
}

.header_option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}
.header_link {
  color: white;
  text-decoration: none;
}
.header_optionLineOne {
  font-size: 10px;
}
.header_optionLineTwo {
  font-size: 13px;
  font-weight: 700;
}
.header_optionBasket {
  display: flex;
}
.header_basketCount {
  margin-left: 10px;
  margin-right: 10px;
}
